body{
    margin: 0;
    padding: 0;
    background-color: #f0c46d;
}


/*Section 1-menu*/

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 700;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

.background-1{
    background: url(images/background-1.png);
    background-position: center;
    background-repeat: no-repeat;
   height: 1000px;
   }


.btn{
    background: transparent;
    border: none;
    position: relative;
    left: 100px;
    height: 59px;
    width: 199px;
    cursor: pointer;

}

.btn-back{
    border-radius: 30px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background: #121212;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.btn-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 30px;
background-color: #ff491f;
border: 4px solid #121212;
    color: #000;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 21px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    transition: all 0.3s;
}

.btn img{
    opacity: 0;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    z-index: 3;
    transition: all 0.3s;
}

.btn:hover .btn-text{
    transform: translate(-15px, -10px) rotate(-2deg);
}

.btn:hover .btn-back{
    transform: rotate(-2deg);
}
.btn:hover img{
    opacity: 1;
}

.div-menu-display-css{
    background-color: #549661;
    width: 1326px;
    height: 88px;
border: 3px solid #121212;
border-radius: 54px 54px 0px 0px;
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
place-items: center;
}



.elements{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 700;
}


.menu-display{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.images-display{
    display: flex;
    justify-content: right;
    overflow: hidden;
    position: relative;
    top: 260px;
    right: 90px;
}

.images-display img{
    width: 150%;
    height: 480px;
    transition: scale 400ms;
}

.images-display:hover img{
    scale: 120%;
}

.green-color{
width: 117px;
height: 40px;
border-radius: 20px;
background-color: #ffffff;
color: #549661;
text-align: center;
place-content: center;
}

h1{
    font-size: 63px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
   position: relative;
   top:60px;
   left:90px;

}

h2{
    font-size: 38px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
  position: relative;
  top: 40px;
  left: 90px;
}

.first-paragraf{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    width: 510px;
height: 198px;
position: relative;
top: 40px;
left: 90px;
}

strong{
color: #fff;
}

.text-first-section{
  max-width: 350px;
}

.two-elements-display{
    display: flex;
    justify-content:space-between;
}


/*Section -2 */

.background-2{
    background-image: url(images/background-2.png);
    background-position: center;
 background-repeat: no-repeat;
height: 1000px;
display: flex;
justify-content: center;
}


.btm{
    background: transparent;
    border: none;
    position: relative;
    left: 200px;
    cursor: pointer;
  width: 172px;
height: 59px;
margin: 0;

}

.btm-back{
    border-radius: 30px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background: #121212;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.btm-text{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 26px;
    width: 172px;
    height: 59px;
background-color: #dd7ca3;
border: 3px solid #121212;
color: #fff;
font-size: 18px;
font-family: "Oswald", sans-serif;
    font-weight: bold;
    transition: all 0.3s;
}

.btm img{
    opacity: 0;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    z-index: 3;
    transition: all 0.3s;
}

.btm:hover .btm-text{
    transform: translate(-15px, -10px) rotate(-2deg);
}

.btm:hover .btm-back{
    transform: rotate(-2deg);
}
.btm:hover img{
    opacity: 1;
}

.images-element{
    position: relative;
    bottom: 20px;
    right: 100px;
    top: 215px;
}

h3{
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
 margin: 0;
 position: relative;
 left: 180px;
padding-top: 111px;
place-content: center;
}

.paragraf-second-section{
font-size: 21px;
color: #121212;
font-weight: 700;
width: 403px;
margin: 0;
position: relative;
 left: 100px;
 text-align: center;
 font-family: "Oswald", sans-serif;
 margin: 52px 0px 52px 0px;
}

.white-block-css{
    background-color: #f8e4dd;
    width: 800px;
   height: 480px;
   border-radius: 60px;
   border: 4px solid #121212;

}

.white-block-display{
   position: relative;
   left: 100px;
   top: 240px;
}

/*Section -3 */

.display-numbers{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
}

.button-For-Numbers{
    font-size: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Oswald";
width: 212px;
height: 39px;
border-radius: 20px;
background-color: #dd7ca3;
border: 3px solid #121212;
}

.elements-display {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    width: 100%;
  padding: 58px 0px 47px 0px;
}

.images-ring{
    position: relative;

}

.pink-element-display {
    display: flex;
    justify-content: center;
}

.pink-element {
    width: 1321px;
    height: 352px;
    border-radius: 60px;
    background-color: #dd7ca3;
    border: 3px solid #121212;
}



h4 {
    font-size: 40px;
    text-transform: uppercase;
    color: #121212;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h5{
font-size: 75px;
letter-spacing: 4px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Oswald", sans-serif;
margin: 0;
padding: 0;
}


.number{
    text-align: center;
}


/*Section -4*/

.display-heart-window{
    display: flex;
   justify-content: space-evenly;
      margin-top: 300px;
      max-height: 580px;
   }

   .bth{
    background: transparent;
    border: none;
    position: relative;
    width: 172px;
    height: 51px;
    cursor: pointer;
    margin-top: 80px;
}

.bth-back{
    border-radius: 30px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background: #121212;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.bth-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 26px;
    background-color: #dd7ca3;
    border: 3px solid #121212;
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s;
}

.bth img{
    opacity: 0;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    z-index: 3;
    transition: all 0.3s;
}

.bth:hover .bth-text{
    transform: translate(-15px, -10px) rotate(-2deg);
}

.bth:hover .bth-back{
    transform: rotate(-2deg);
}
.bth:hover img{
    opacity: 1;
}

.second-images{
    background-image: url(images/Ballontext.png);
    height: 493px;
    background-repeat: no-repeat;
max-width: 277px;
position: relative;
bottom: 560px;
left: 400px;
}
   
 .title-heart{
       font-size: 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #121212;
   font-weight: 700;
   font-family: "Oswald", sans-serif;
   max-width:  361px;
   margin: 0;
   padding: 0;
   }

   .title-heart{
    font-size: 40px;
    width: 360px;
letter-spacing: 3px;
text-transform: uppercase;
color: #121212;
font-weight: 700;
font-family: "Oswald", sans-serif;
   }

  
   
   .paragraf-heart{
       max-width: 361px;
       font-size: 15px;
   color: #121212;
   font-weight: 700;
   font-family: "Montserrat", sans-serif;
   }
   

   .text-heart{
    margin: 50px;
   }

.text-ballon{
    font-size: 29px;
letter-spacing: 1px;
line-height: 44px;
text-transform: uppercase;
color: #121212;
font-weight: 700;
font-family: "Oswald", sans-serif;
   padding: 20px;
text-align: center;
}

/*elements between section*/
.element-ring-star{
    display: flex;
    justify-content:right;
    margin-top: 50px;
}

.element-pink-ring{
    display: flex;
    justify-content: left;
    position: relative;
    right: 100px;
}

.ring-icons,
.star-icons{
    margin: 0px 77px 0px 500px;
}



.four-element-display{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    position: relative;
    top: 219px;
}

.images-between-1{
    display: flex;
    justify-content: right;
    position: relative;
    top: 145px;
    right: 40px;
}

.togehet-tringer{
    display: flex;
    justify-content:start;
}

.trigel{
    margin: 25px;
}


/*Section -5*/




.button-green-five-section {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    width: 320px;
height: 57px;
border-radius: 10px 10px 0px 0px;
font-size: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Oswald", sans-serif;
background-color: #549661;
border: 3px solid #121212;
position: relative;
bottom: 285px;
    transition: all 0.2s;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .button-green-five-section:hover {
    background-image: linear-gradient(
      to right,
      rgb(250, 82, 82),
      rgb(250, 82, 82) 16.65%,
      rgb(190, 75, 219) 16.65%,
      rgb(190, 75, 219) 33.3%,
      rgb(76, 110, 245) 33.3%,
      rgb(76, 110, 245) 49.95%,
      rgb(64, 192, 87) 49.95%,
      rgb(64, 192, 87) 66.6%,
      rgb(250, 176, 5) 66.6%,
      rgb(250, 176, 5) 83.25%,
      rgb(253, 126, 20) 83.25%,
      rgb(253, 126, 20) 100%,
      rgb(250, 82, 82) 100%
    );
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
  }
  
  @keyframes dance6123 {
    to {
      background-position: var(--width);
    }
  }
  


.button-arrow{
    background: none;
    border: none;
margin: 40px;
border-radius: 40px;
height: 40px;
width: 77px;
font-size: 50px;
place-items: center;
}

.buttoms-carousel{
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    margin-top: 50px ;
}

.icons-display-five-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.icon-title-five-section{
    font-size: 39px;
text-transform: uppercase;
color: #121212;
font-weight: 700;
font-family: "Oswald", sans-serif;
margin: 0;
padding: 0;
text-align: center;
position: relative;
bottom: 200px;
}

.icons{
    width: 320px;
    height: 510px;
    border-radius: 60px 60px 0px 0px;
    background-color: #ffe5de;
    border: 3px solid #121212;
  
}

.images-display-five-section{
position:sticky;
bottom:200px;
}

.images-display-five-section-1{
    background-image: url(images/icons3.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 200px;
}

.images-display-five-section-2{
    background-image: url(images/icons1.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 200px;
}

.images-display-five-section-3{
    background-image: url(images/icons2.png);
    height: 400px;
width: 374px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 200px;
    right: 50px;
   
}

.green-button-five-section{
    width: 320px;
    height: 57px;
    border-radius: 10px;
    background-color: #549661;
    border: 3px solid #121212;
    margin: 0;
    padding: 0;
    position: none;
}

.paragraf-icon-five-section{
    max-width: 577px;
height: 244px;
font-size: 16px;
line-height: 28px;
color: #121212;
font-weight: 700;
font-family: "Montserrat", sans-serif;
margin: 20px;
text-align: center;
position: relative;
    bottom: 200px;
}

.title-section-five{
font-size: 50px;
letter-spacing: 3px;
text-transform: uppercase;
color: #121212;
font-weight: 700;
font-family: "Oswald", sans-serif;
text-align: center;
margin: 30px;
}

.title-five-section-dispaly{
display: flex;
justify-content:space-evenly;
place-items: center;
place-content: center;
margin-bottom: 300px;
}

/*Section -6*/

.display-element-six-section{
    display: flex;
    justify-content: space-evenly;
    
}

.elements-six-section-star-image-six-section{
    background-image: url(images/star3.png);
    height: 287px;
    width: 286px;
    background-repeat: no-repeat;
}

.input-element{
    width: 579px;
    height: 40px;
    border-radius: 22px;
    background-color: #ffffff;
    border: 3px solid #121212;
font-size: 18px;
letter-spacing: 0px;
line-height: 20px;
color: #2b3c46;
font-weight: 600;
font-family: "Oswald", sans-serif;
padding-left: 10px;
margin-top: 30px;
}

.message{
    width: 579px;
    height: 142px;
    border-radius: 22px;
    background-color: #ffffff;
    border: 3px solid #121212;
font-size: 18px;
letter-spacing: 0px;
line-height: 20px;
color: #2b3c46;
font-weight: 600;
font-family: "Oswald", sans-serif;
margin-top: 30px;
}


.elements-six-section{
display: grid;
grid-template-areas: "element1"
                     "element2"
                     "element3"
                     "element4";
}

textarea {
    border-radius: 22px;
    background-color: #ffffff;
    border: 3px solid #121212;
    height: 124px;
    width: 570px;
    resize: none;
    outline: 0;
    padding: 8px 14px;
   font-size: 18px;
letter-spacing: 0px;
line-height: 20px;
color: #2b3c46;
font-weight: 600;
font-family: "Oswald", sans-serif;
margin-top: 30px;
  }
  

  .bts{
    background: transparent;
    border: none;
    position: relative;
    width: 219px;
    height: 56px;
    border-radius: 30px;
    background-color: #000000;
    border: 4px solid #121212;
    font-size: 18px;
letter-spacing: 0px;
line-height: 19px;
color: #fefefe;
font-weight: 600;
font-family: "Oswald", sans-serif;
place-items: center;
    cursor: pointer;
}

.bts-back{
    border-radius: 30px;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    background: #121212;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.bts-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 26px;
    background-color: #dd491f;
    border: 3px solid #121212;
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s;
}

.bts img{
    opacity: 0;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    z-index: 3;
    transition: all 0.3s;
}

.bts:hover .bts-text{
    transform: translate(-15px, -10px) rotate(-2deg);
}

.bts:hover .bts-back{
    transform: rotate(-2deg);
}
.bts:hover img{
    opacity: 1;
}

  .div-button-red{
    display: flex;
    justify-content: center;
    margin: 40px;
  }

  /*section -7*/

  
  .background-seven-section{
    background-color: #121212;
    height: 577px;

  }

  .columsOfTexts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .icons-social-media{
    display: grid;
    grid-template-areas: "social-media-icon1 social-media-icon2 social-media-icon3";
}

  .right-display-social-media{
display: flex;
justify-content: right;
  }

  .social-media-display{
    margin: 30px 100px 30px 0px  ;
  }

  .search{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    place-items: center;
   
  }

  .search-icon{
    width: 100px;
    height: 40px;
    background-color: #FFB439;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 10px 10px  #dd491f;

  }

  .search-width{
    width: 300px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 10px 10px  #dd491f;
  }

  .text-ofcolums-seven-section{
    font-size: 29px;
letter-spacing: 3px;
text-transform: uppercase;
color: #f0c46d;
font-weight: 500;
font-family: "Oswald", sans-serif;
margin: 112px 0px 37px 0px;
padding: 0;
  }

  .text-ofcolums-seven-section-p{
    font-size: 25px;
line-height: 44px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald", sans-serif;
margin: 0;
padding: 0;
  }

